<div class="item">
    <div>Avatar URL</div>
    <div>
        <input type="url"
            name="avatar_url"
            placeholder="http://"
        >
    </div>
</div>

<div class="item">
    <div>Instructor</div>
    <div>
        <input type="text"
                name="name"
                placeholder="Instructor name"
        >
    </div>
</div>

<div class="item">
    <div>Birth date</div>
    <div>
        <input type="date"
        name="birth">
    </div>
</div>

<div class="item">
    <div>Gender</div>
    <div>
        <span>
        <input type="radio"
        name="gender"
        value="M">Male
        </span>
        <span>
        <input type="radio"
        name="gender"
        value="F" checked>Female
        </span>
    </div>
</div>

<div class="item">
    <div>Specialty</div>
    <div>
        <input type="text"
        name="services"
        placeholder="Space the services with comma">
    </div>
</div>

<button type="submit">Save</button>
